<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <form action="/poems" method="post">
      <!-- label used for accessibilty purposes -->
      <label for="content">Add poem</label> 
      <textarea id="content" name="content" rows="10"></textarea>
      <button type="submit" value="add poem">add poem</button>
    </form>
  </body>
</html>