<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <!-- <%= message %> -->
      <%message.forEach(poem => {%>
      <li><%= poem.content %></li>
      <% }) %>
    </ul>
  </body>
</html>
